{% load static %}

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/">Uploader <span class="sr-only">(current)</span></a>
      </li>
  </ul>
</div>

{% block content %}
  <form method="post" enctype="multipart/form-data" form action="{% url "upload_building" %}" >
    {% csrf_token %} Building CSV upload: 
    <input type="file" name="building_csv">
    <button type="submit">Upload</button>
  </form>

  <form method="post" enctype="multipart/form-data" form action="{% url "upload_meter" %}" >
    {% csrf_token %} Meter CSV upload: 
    <input type="file" name="meter_csv">
    <button type="submit">Upload</button>
  </form>

  <form method="post" enctype="multipart/form-data" form action="{% url "upload_consumption" %}" >
    {% csrf_token %} Consumption CSV upload: 
    <input type="file" name="consumption_csv">
    <button type="submit">Upload</button>
  </form>

{% endblock %}
