<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<div>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Uploader</a></li>
      <li><a href="explorer">Explorer</a></li>
    </ul>
  </nav>
</div>
</br>
</br>
</br>
</br>

<form method="post" enctype="multipart/form-data" form action="{% url "upload_building" %}" >
  {% csrf_token %} Building CSV upload: 
  <input type="file" name="building_csv">
  <button type="submit">Upload</button>
</form>

<form method="post" enctype="multipart/form-data" form action="{% url "upload_meter" %}" >
  {% csrf_token %} Meter CSV upload: 
  <input type="file" name="meter_csv">
  <button type="submit">Upload</button>
</form>

<form method="post" enctype="multipart/form-data" form action="{% url "upload_consumption" %}" >
  {% csrf_token %} Consumption CSV upload: 
  <input type="file" name="consumption_csv">
  <button type="submit">Upload</button>
</form>
